@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif; 
    background-color: #fff;
}

body.active-modal {
    overflow-y: hidden;
    position: relative; 
}

.container {
    max-width: 1040px;
    margin: auto;
}

.free-premium-report {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.free, .premium {
    width: 434px;
}

.free {
    scale: .9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.free-report {
    width: 100%;
    margin-top: 24px;
    background: #FFF;
    box-shadow: 0px 3.000000476837158px 8.000000953674316px 0px #0000001a;
    overflow: hidden;
    position: relative;
}

.logo {
    width: 190px;
    margin: 50px 0 45px 0;
}

.report-done {
    color: #003F4D;
    font: 600 24px 'Montserrat', sans-serif;
    line-height: normal;
    text-align: center;
}

.report-title {
    color: #003F4D;
    font: 400 16px 'Montserrat', sans-serif;
    line-height: normal;
    text-align: center;
    margin-bottom: 45px;
}

.free-header, .premium-header {
    color: #01B9A0;
    font: 600 16px 'Montserrat', sans-serif;
    line-height: normal;
    text-align: center;
}

.premium-title {
    color: #003F4D;
    font: 600 24px 'Montserrat', sans-serif;
    line-height: normal;
    margin: 21px 0;
}

.premium-text > p {
    color: #003F4D;
    font: 400 16px 'Montserrat', sans-serif;
    line-height: normal;   
}

.premium-text > p:not(:last-child) {
    margin-bottom: 16px;
}

.premium-offer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    background-color: #F5F9FA;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.10);
    padding: 65px 60px 30px 60px;
    margin: 50px 0;
}

.offer-title {
    width: 60%;
    color: #003F4D;
    font: 600 20px 'Montserrat', sans-serif;
    line-height: normal;
    margin-bottom: 22px;
}

.offer-text-div > p:not(:last-child) {
    margin-bottom: 18px;
}

.offer-text {
    color: #003F4D;
    font: 400 16px 'Montserrat', sans-serif;
    line-height: normal;
}

.offer-check {
    font-size: 20px;
    color: #08D0B0;
    margin: 0 28px 0 8px;
}

.offer-button, .share-button {
    border: none;
    color: #FFF;
    padding: 20px 24px;
    border-radius: 42px;
    background: linear-gradient(90deg, #00F4B1 0%, #6784E8 100%);
    cursor: pointer;
}

.offer-button {
    width: 80%;
    font: 600 14px 'Montserrat', sans-serif;
    margin-top: 80px;
}  

.share-button {
    width: 55%;
    font: 500 22px 'Montserrat', sans-serif;
    margin-top: 55px; 
}

.offer-button:hover, .share-button:hover {
    background: linear-gradient(90deg, #1ECCBC 0%, #03525B 100%);
}

.report {
    /* width: 595.3px; */
    height: 100%;
    background-color: #fff;
}

.scaled-report {
    width: 100%;
    /* scale: 0.83; */
    user-select: none;
    /* margin: -12px 0 0 -20px; */
}

.report-header {
    /* width: 115%; */
    display: flex;
    justify-content: space-between;
    padding: 39.9px 42.5px 39.6px 42.5px;
    background: linear-gradient(17deg, #003F4D 25%, #00424F 39.00%, #004C55 51.00%, #005D61 61.00%, #007471 71.00%, #009386 81.00%, #00B9A0 90.00%, #00E5BE 99.00%, #00EBC2 100%);
}

.header-logo-result {
    width: 264px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.report-header-logo, .report-bottom-logo {
    width: 127.7px;
}

.header-vertical-line {
    width: 0.7px;
    height: 7px;
    background-color: #00EBC2;;
}

.test-result {
    color: #FFF;
    font: 500 7.5px 'Montserrat', sans-serif;
    line-height: normal;
}

.person-info {
    color: #FFF;
    font-size: 14px;
    line-height: normal;
    margin-top: 38.5px;
}

.name-age {
    font-weight: 700;
}

.test-info {
    font-weight: 500;
}

.report-photo {
    width: 100.6px;
    border-radius: 50%;
}

.horizontal-line {
    width: 100%;
    height: 2.6px;
    background: linear-gradient(0deg, #00E5AC 0%, #00DBB0 14.00%, #00C0BD 38.00%, #0095D1 69.00%, #0064E9 100%);
}

.report-body {
    /* width: 115%; */
    padding: 37.9px 42.5px 32px 42.5px;
}

.report-part-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preliminary-info {
    width: 42.7%;
}

.preliminary-info > p {
    color: #003F4D;
    font: 400 12px 'Montserrat', sans-serif;
    line-height: normal;
}

.report-part-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30.8px;
}

.chart-1 {
    width: 32%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.rate-collection {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-rate {
    width: 86%;
    display: flex;
    gap: 2%;
    position: absolute;
    z-index: 6;
    top: 57%;
}

.percentile-div {
    width: 100%;
}

.fa-chevron-up {
    font-size: 7.5px;
    top: 4px;
    margin-top: 3px;
}

.chart1-result {
    font: 600 8.2px 'Montserrat', sans-serif;
    line-height: normal;
}

.percentile-title {
    color: #003F4D;
    font: 600 10px 'Montserrat', sans-serif;
    line-height: normal;
    position: absolute;
    z-index: 6;
    top: 78%;
}

.half-progress-bar {
    padding: 10px;
    position: relative;
}

.half-progress-bar-text, .percent-sign {
    color: #003F4D;
    font-weight: 300;
    line-height: normal;
    margin-top: -55px;
}

.half-progress-bar-text {
    font-size: 17.7px;
}

.percent-sign {
    font-size: 11.9px;
}

.chart-1-percentile {
    color: #003F4D;
    font: 300 6px 'Montserrat', sans-serif;
    line-height: normal;
    position: absolute;
}

.percentile-0 {
    top: 48%;
    left: 0%;
}

.percentile-1 {
    top: 32%;
    left: 2%;
}

.percentile-2 {
    top: 20%;
    left: 7%;
}

.percentile-3 {
    top: 8%;
    left: 19%;
}

.percentile-4 {
    top: 1%;
    left: 33%;
}

.percentile-5 {
    top: -1%;
    left: 48%;
}

.percentile-6 {
    top: 1%;
    left: 63%;
}

.percentile-7 {
    top: 8%;
    left: 77%;
}

.percentile-8 {
    top: 20%;
    left: 88%;
}

.percentile-9 {
    top: 32%;
    left: 94%;
}

.percentile-10 {
    top: 48%;
    left: 96%;
}

.percentile-ranges {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.percentile-ranges-title {
    color: #003F4D;
    font: 600 10px 'Montserrat', sans-serif;
    line-height: normal;
    margin-bottom: 6.6px;
}

.percentile-ranges-1 {
    padding-right: 3px;
}

.percentile-ranges-info, .percentile-color-number {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
}

.percentile-color-number:not(:last-child), .percentile-ranges-word:not(:last-child) {
    margin-bottom: 6px;
}

.percentile-number, .percentile-word {
    color: #003F4D;
    font-size: 10px;
    font-weight: 300;
    font: 300 10px 'Montserrat', sans-serif;
    line-height: normal;
}

.percentile-color {
    width: 7.1px;
    height: 7.1px;
    border-radius: 50%;
}

.report-part-3 {
    width: 100%;
    text-align: center;
    margin: 0 0 45px 0;
}

.report-part3-title {
    color: #003F4D;
    font: 600 14px 'Montserrat', sans-serif;
    line-height: normal;
    margin-bottom: 13px;
}

.report-part3-text, .report-part3-bold-text {
    color: #003F4D;
    font-size: 12px;
    line-height: normal;
}

.report-part3-text {
    font-weight: 400;
}

.report-part3-bold-text {
    font-weight: 600;
}  

.chart-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 48px 0;
    position: relative;
}

.chart-2-direct {
    position: absolute;
}

.chart-2-direct-1 {
    left: 62%;
    top: 11%;
}
.chart-2-direct-2 {
    transform: scaleX(-1);
    left: 15%;
    top: 11%;
}

.chart-2-direct-3 {
    transform: rotate(180deg);
    left: 15%;
    top: 80%;
}

.chart-2-direct-4 {
    transform: rotate(-180deg) scaleX(-1);
    left: 62%;
    top: 80%;
}

.chart-2-direct-5 {
    transform: scaleY(-1);
    left: 65%;
    top: 49%;
}

.chart-2-direct-6 {
    transform: rotate(180deg);
    left: 27%;
    top: 49%;
}

.chart-2-text {
    color: #003F4D;
    font: 400 10px 'Montserrat', sans-serif;
    line-height: normal;
}

.chart-2-info {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.chart-2-percent {
    color: #003F4D;
    font: 500 14px 'Montserrat', sans-serif;
    line-height: normal;
    padding-left: 25%;
}

.chart2-field {
    display: flex;
    align-items: center;
    gap: 4px;
}

.chart2-info-reverse {
    flex-direction: column-reverse;
}

.chart-2-info-1 {
    left: 8.2%;
    top: -12%;
}
.chart-2-info-2 {
    left: 74.6%;
    top: -12%;
}
.chart-2-info-3 {
    left: 9%;
    top: 34%;
}
.chart-2-info-4 {
    left: 74.2%;
    top: 34%;
}
.chart-2-info-5 {
    left: 8.2%;
    top: 92%;
}
.chart-2-info-6 {
    left: 74.6%;
    top: 91%;
}

.report-download {
    border: none;
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: start;
    position: absolute;
    bottom: 8px;
    right: 20px;
    background-color: #fff;
}

.download-text {
    color: #003F4D;
    width: 60px;
    font: 600 8px 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
 
.report-download:active {
    transform: scale(0.95);
}

.report-download:hover {
    cursor: pointer;
}

.report-download > img {
    width: 18px;
}

.modal-bg {
    width: 100%;
    min-height: 100%;
    background-color: #2f2f2f3b;
    position: absolute;
    z-index: 1000;
    left: 0;
    bottom: 0;
}

.modal {
    overflow: hidden;
    width: 60%;
    display: flex;
    position: relative;
    z-index: 1001;
    justify-content: space-evenly;
    border-radius: 8px;
    border: 1px solid #018c825c;
    background: #F5F9FA;
    top: -15.5%;
}

.modal > button {
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 25px 30px !important;
    transition: background-color 0.5s !important;
}

.modal > button:hover {
    background-color: #D7E8E7 !important;
}

.modal > button.active {
    background-color: #018C82 !important; 
}

.modal > button > i {
    font-size: 16px;
    color: #018C82;
}

.modal > button > i.active {
    color: #fff !important;
}

@media print {
    .report {
        width: 626.3px;
        height: 841.9px;
        scale: 1.299;
        margin-top: 88px;
        margin-left: 95px;
        background-color: #fff;
    }

    .report-header {
        padding: 50.9px 42.5px 29.6px 42.5px;
    }

    .report-body {
        padding: 37.9px 42.5px 0 42.5px;
    }
}


.input-container{
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}
.input-container input{
    padding: .5rem;
    width: 70%;
    outline: none;
    border: none;
    font-size: 1.2rem;
    border: 1px solid #00EBC2;
}
.input-container input:focus{
    border: 1px solid transparent;
    border-bottom: 1px solid #00EBC2;
}
.input-container button{
    padding: .5rem  2rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    background-color: #003F4D;
    color: #fff;
    border-radius: 6px;
}
.logout-btn{
    display: block;
    padding: 1rem;
    text-align: right;
    user-select: none;
}